<h1 class="mt-2 mb-2">Friends List</h1>
  <% current_user.friendships.each do |friend| %>
    <div class="d-flex mb-4">
      <%= friend.inspect %> <br/><br/>
      <%= button_to "delete friend", delete_request_path(friend) %>
    </div>
  <% end %>

<h1>Pending Requests</h1>
<% @my_requests.each do |my_requests| %>
    <%= my_requests.inspect %> <br/><br/>
  <% end %>


<h1>Add Friends</h1>
<% @users.each do | potential_friend | %>
  <% unless potential_friend.id == current_user.id or current_user.friendships.current_friends(potential_friend).exists? or FriendRequest.my_friend_requests(potential_friend).exists? or FriendRequest.my_friend_requests(potential_friend).exists? %>
    <%= @friends_list.include?(potential_friend) %>
    <%= potential_friend.email %><br/><br>
    <%= button_to "Add Friend", new_request_path(potential_friend), method: :get %>
  <% end %>
<% end %><br/><br/>

