<div class="d-flex flex-column align-items-center mt-5">
  <div class='mb-2' style='width: 25%'>
    <%= render 'posts/form'%>
  </div>

  <div class='d-flex flex-column align-items-center' style='width: 35%'>
    <% if @posts.exists? %>
      <% @posts.each do | post | %>
        <% if post.user == current_user or !current_user.friendships.current_friends(post.user).empty? %>
              <%# post section %>
          <div class="card mb-2 shadow d-flex flex-column align-items-center" style='width: 100%'>
            <p class="card-header text-white bg-primary text-center" style='width: 100%'>
              <% if post.user.profile and post.user.profile.avatar.attached? %>
                  <%= image_tag post.user.profile.avatar.variant(resize_to_fill: [50, 50], saver: { quality: 100 }), class:"rounded" %>
                <% else %>
                  <%= image_tag user_gravatar(post.user), class:"rounded" %>
              <% end %>
                <%= post.user.email%>
            </p>

            <% if current_user.posts.include?(post) %> 
                <%= link_to edit_post_path(post), class:"text-decoration-none", style:'width: 100%' do %>
                  <span class="bi bi-pencil-square text-black ms-2"></span>
                <% end %>
            <% end %>
                <% if post.image.attached? %>
                  <div>
                    <%= image_tag post.image.variant(resize_to_fill: [300, nil], saver: { quality: 100 }), class: 'rounded mb-2' %>
                  </div>
                <% end %>
                  <div>
                    <%= post.body%>
                  </div>

            <% already_liked = post.likes.find { | like | like.user_id == current_user.id } %> 
            <% if already_liked %>
              <div style='width: 100%'>
                <%= button_to post_like_path(post_id: post.id, id: already_liked.id), data: {turbo: false }, method: :delete, class:"btn btn-link btn-md text-decoration-none p-0 m-0 ms--2" do %>
                    <span class="bi bi-hand-thumbs-up-fill">
                      <%= post.likes.count unless post.likes.count == 0 %>
                    </span>
                  <% end %>
              </div>
                <% else %>
              <div style='width: 100%'>
                <%= button_to post_likes_path(post), method: :post, class:"btn btn-link text-decoration-none p-0 m-0 ms-2" do %> 
                  <span class="bi bi-hand-thumbs-up text-black">
                    <%= post.likes.count unless post.likes.count == 0 %>
                  </span>
                <% end %>
              </div>
            <% end %>
                <%# comment section %>
            <div class='d-flex flex-column align-items-center'>
              <%= form_with model: [post, Comment.new] do | f | %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.text_field :body, class:"form-control", style:"width: 100%" %>
                <%= f.submit "Comment!", class:"btn btn-primary btn-sm mt-1 mb-3", style:"width: 100%"%>
              <% end %>
            </div>
            <% if post.comments.exists? %>
              <% post.comments.order("created_at DESC").each do | comment | %>
                <div class="card rounded m-2" style="width: 95%">
                  <div class='card-title text-center bg-primary rounded-top text-white'>
                    <%= comment.user.email %>
                  </div>
                  <p class='text-center'>
                    <%= comment.body %>
                  </p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>